<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Senate Election Data (1976-2020)</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='elections.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='elections.js') }}" ></script>
        <!--<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />-->
    </head>
        
    <body>
        <h1>U.S. Senate Election Data and Predictions (1976-2020)<!--<button class="help"><a class=button href="mockup3.html">HELP</a></button>--></h1>

        <!--<p class="direction">
            Select state(s) and year(s) then press "GO" to see data by state and year.<br> 
            Type candidate name in the search box then press "Search" to see election history of given candidate.
        </p>-->
        
        <div class="searchbox">
            <input type="text" id="input_text" placeholder="Search by cadidate name">
            <button><a class="button" id="search_button">SEARCH</a></button>
        </div>

        <div class="candidate">
            <p id="candidate_election_history"></p>
        </div>

    </body>

    
    
</html>